.DS_Store
.vs/
.vscode/
bin/
/samples/WaveformViewer/WaveformViewer.sln
/samples/WaveformViewer/x64/
/samples/WaveformViewer/.vs/
/samples/WaveformViewer/WaveformViewer/

/samples/TextReader/TextReader.sln
/samples/TextReader/x64/
/samples/TextReader/.vs/
/samples/TextReader/TextReader/

/samples/SimpleView/SimpleView.sln
/samples/SimpleView/x64/
/samples/SimpleView/.vs/
/samples/SimpleView/SimpleView/